@using Job1670.Data
@using Job1670.Services
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
<style>
    ul {
        list-style-type: none;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Job1670</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Job1670.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">NICE JOB</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">| Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Listings" asp-action="Index" style="font-size:1em">| Listings</a>
                        </li>


                        @if (User.IsInRole("Employer") || User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Employers" asp-action="Index" style="font-size:1em; color:blue">| Employer Information</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index" style="font-size:1em">| Categories</a>
                            </li>
                        }


                        @if (User.IsInRole("JobSeeker") || User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="JobApplications" asp-action="Index" style="font-size:1em">| List Application</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="JobSeekers" asp-action="Index" style="font-size:1em; color:blue">| JobSeeker Information</a>
                            </li>
                        }
                    </ul>
                    <ul>
                        @if (User.IsInRole("Employer"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Listings" asp-action="Create" style="font-size:1em">| Post Job</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="JobApplications" asp-action="Index" style="font-size:1em">| List JobApplication</a>
                            </li>
                        }
                    </ul>

                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <topmain>
                @if (User.IsInRole("Employer") || User.IsInRole("JobSeeker") || !User.Identity.IsAuthenticated || !(ViewData["HideLayout"] as bool? ?? false))
                {
                    <div class="infor" style="margin-left:5em">
                        <div class="container" style="margin-top:2em;padding-left:54em;margin-bottom:0.5em">
                            <div class="row">
                                <div class="col-12">
                                    <form method="get" action="/Listings/Search" class="d-flex">
                                        <input type="text" name="searchTerm" class="form-control me-2" style="width: 15em;" placeholder="Search by Job Category...">
                                        <button type="submit" class="btn btn-primary">Search</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </topmain>
            @RenderBody()
            <div class="horizontal-line" style="width: calc(100% - 16em);
            height: 1px;
            background-color: black; margin: 0 8em;margin-top:4em"></div>
            <div style="margin-top: 4em;">
        </main>
    </div>



    @if (User.Identity.IsAuthenticated)
    {
        <img src="/logo/poster.png" style="width:100%" />
    }
    else
    {
        <img src="/logo/p2.png" style="width:100%" />
        <center><img src="/logo/p1.png" style="width:90%" /></center>

        <center><img src="/logo/f.png" style="width:50%;" /></center>
    }
    <footer>
        <div class="horizontal-line" style="width: calc(100% - 16em);
            height: 1px;
            background-color: black; margin: 0 8em;margin-top:4em"></div>
        <div style="margin-top: 4em;">
            <div style="display:flex;margin:6em">
                <div>
                    <ul>
                        <h5>NiceJob COP</h5>
                        <li>
                            Office NorthSide:<p>
                                3rd floor, building G1
                                Five Star Garden, Thanh Xuan, Hanoi
                                Phone: 0898.579.188
                            </p>
                        </li>
                        <li>
                            Office SouthSide:<p>
                                5th Floor, 607-609 Nguyen Kiem,
                                Ward 9, Phu Nhuan District, City. Ho Chi Minh
                                Phone: 0896.557.388
                            </p>
                        </li>
                        <li>Email: contact@9job.vn</li>
                        <li>Support: 070.505.2022</li>
                        <li>Hotline: 0865241364</li>
                    </ul>
                </div>
                <div>
                    <div style="display:inline-flex;list-style-type: none;">

                        <ul>
                            <li style="text-decoration:underline">Jobs by location</li>
                            <li>TPHCM </li>
                            <li>Ha Noi </li>
                            <li>Da Nang </li>
                            <li>Can Tho </li>
                        </ul>
                        <ul>
                            <li style="text-decoration:underline">Jobs by profession</li>
                            <li>Finance/Banking</li>
                            <li>Accountant</li>
                            <li>Administrative personnel</li>
                            <li>Business</li>
                            <li>Marketing</li>
                            <li>Build</li>
                        </ul>
                        <ul>
                            <li style="text-decoration:underline">Job according to position</li>
                            <li>Intern</li>
                            <li>Assistant</li>
                            <li>Office staff</li>
                            <li>Manager</li>
                        </ul>
                        <ul>
                            <li style="text-decoration:underline">Jobs by type</li>
                            <li>Part-time</li>
                            <li>Full-time</li>
                            <li>Online</li>
                            <li>Remote</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<style>
    ul {
        list-style: none;
    }
</style>

