@using Job1670.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<style>
    .line {
        display: inline-block; /* Đảm bảo khung bao quanh thẻ <a> */
        padding: 10px; /* Thêm padding để tạo khoảng cách giữa nội dung và khung */
        border: 1px solid black; /* Định dạng khung với độ dày và màu sắc */
        text-decoration: none; /* Loại bỏ gạch chân mặc định của liên kết */
    }
</style>
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark line" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account: Admin</a>
            </li>

        }
        if (User.IsInRole("Employer"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark line" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account: Employer</a>
            </li>
        }
        if (User.IsInRole("JobSeeker"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark line" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account: JobSeeker</a>
            </li>
        }
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
