@model Job1670.Models.JobApplication

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>JobApplication</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JobId" class="control-label"></label>
                <select asp-for="JobId" class="form-control" asp-items="ViewBag.JobId"></select>
            </div>
            <div class="form-group">
                <label asp-for="JobSeekerId" class="control-label"></label>
                <select asp-for="JobSeekerId" class="form-control" asp-items="ViewBag.JobSeekerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CoverLetter" class="control-label"></label>
                <input asp-for="CoverLetter" class="form-control" />
                <span asp-validation-for="CoverLetter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control">
                    <option value="processing" class="btn btn-outline-warning" style="text-align: left;">Processing</option>
                    @if (User.IsInRole("Admin"))
                    {
                        <option value="inactive" class="btn btn-outline-danger" style="text-align: left;">Inactive</option>
                        <option value="operating" class="btn btn-outline-success" style="text-align: left;">Operating</option>
                    }
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

